<launch>
    <!-- world -->
    <include file="$(find easondrone_gazebo)/launch/Eason_indoor.launch"/>

    <!-- 1号无人机 -->
    <include file="$(find easondrone_gazebo)/launch/sitl_p450.launch"/>

    <include file="$(find easondrone_gazebo)/launch/transform.launch"/>

    <include file="$(find fast_lio)/launch/px4ctrl_p450_indoor.launch"/>

    <!-- 启动FAST-LIO建图 -->
    <include file="$(find fast_lio)/launch/mapping_velodyne.launch"/>

    <!-- 启动rviz -->
    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" launch-prefix="nice"/>
</launch>
