<launch>
    <include file="$(find easondrone_gazebo)/launch/mavros_posix_sitl.launch"/>

    <include file="$(find easondrone_gazebo)/launch/transform.launch"/>

    <include file="$(find px4ctrl)/launch/px4ctrl.launch"/>

    <!-- 启动FAST-LIO建图 -->
    <include file="$(find fast_lio)/launch/mapping_velodyne.launch"/>

    <!-- 启动rviz -->
    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" launch-prefix="nice"/>
</launch>
